version: '3.8'

services:

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - EUREKA_SERVER_PORT=8761

  config-server:
    build: ./config-server
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8765:8765"
    depends_on:
      - eureka-server
      - config-server
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_FILTERS_0=StripPrefix=1

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8084:8084"
    depends_on:
      - eureka-server
      - config-server
      - rabbitmq
      - mongo
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_RABBITMQ_HOST=rabbitmq
      # FORCE OVERRIDE: Broken down into specific host/port variables
      - SPRING_DATA_MONGODB_HOST=mongo
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=flight_user_db
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
    entrypoint: ["java", "-Dspring.data.mongodb.uri=mongodb://mongo:27017/flight_user_db", "-jar", "/app/app.jar"]

  flight-service:
    build: ./flight-service
    container_name: flight-service
    ports:
      - "8081:8081"
    depends_on:
      - eureka-server
      - config-server
      - mongo
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      # FORCE OVERRIDE: Broken down into specific host/port variables
      - SPRING_DATA_MONGODB_HOST=mongo
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=flightdb
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
    entrypoint: ["java", "-Dspring.data.mongodb.uri=mongodb://mongo:27017/flightdb", "-jar", "/app/app.jar"]

  booking-service:
    build: ./booking-service
    container_name: booking-service
    ports:
      - "8082:8082"
    depends_on:
      - eureka-server
      - config-server
      - rabbitmq
      - mongo
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_RABBITMQ_HOST=rabbitmq
      # FORCE OVERRIDE: Broken down into specific host/port variables
      - SPRING_DATA_MONGODB_HOST=mongo
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_DATA_MONGODB_DATABASE=bookingdb
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
    entrypoint: ["java", "-Dspring.data.mongodb.uri=mongodb://mongo:27017/bookingdb", "-jar", "/app/app.jar"]

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "8083:8083"
    depends_on:
      - eureka-server
      - config-server
      - rabbitmq
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_RABBITMQ_HOST=rabbitmq
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true

volumes:
  mongo_data: